:root {
  --c-main-text: #333;
  --c-main-bg: #EEE;
  --c-theme-first: #09F;
  --c-theme-second: #00FFC4;
  --c-secondary-text: #808080;
  --c-secondary-bg: #CCC;
  --border-radius: 3px;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 18px;
}
body {
  background: var(--c-main-bg);
  line-height: 1.4;
  margin: 0;
}
body, input, button {
  color: var(--c-main-text);
  font-family: Arial, sans-serif;
}
a {
  color: var(--c-theme-first);
  text-decoration: none;
}
label, button, input[type=button], input[type=submit], input[type=reset] {
  -webkit-appearance: none;
  cursor: pointer;
}

.icon {
  display: block;
  fill: currentColor;
  width: 100%;
}

/*=== header */
.main-header {
  align-items: center;
  background: var(--c-theme-first);
  color: var(--c-theme-second);
  display: flex;
  justify-content: space-between;
  position: fixed;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
  top: 0;
  width: 100%;
  z-index: 1;
}
.main-header__title {
  font-size: 1em;
  height: inherit;
  margin: 0;
}
.main-header__title__icon {
  display: inline;
  height: 100%;
  vertical-align: middle;
  width: auto;
}
.main-header__status {
  display: flex;
}
.main-header__status__icon {
  display: none;
  height: 0.8em;
  margin: 0 1px;
  width: 0.8em;
}
.main-header__status__icon--active {
  display: block;
}

/*=== sections */
.main-section {
  display: none;
}
.main-section--selected {
  display: block;
}

/*=== grid */
.main-header {
  height: 2.5rem;
}
.main-nav {
  height: 2.8rem;
}
.main-content {
  padding-bottom: 4.8rem;
  padding-top: 2.5rem;
}
.main-header,
.main-section--home,
.main-section--settings,
.log-average {
  padding-left: .5rem;
  padding-right: .5rem;
}
.home__wrapper,
.main-section--settings,
.log-average {
  padding-top: .5rem;
}

/*=== input number with plus & minus buttons */
.input-number input[type=number]::-webkit-inner-spin-button, 
.input-number input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0;
}
.input-number input[type=number] {
  -moz-appearance: textfield;
}
.input-number {
  border: 1px solid var(--c-main-text);
  border-radius: var(--border-radius);
  display: flex;
  font-size: 1rem;
  height: 2em;
}
.input-number__input {
  border-color: var(--c-main-text);
  border-radius: 0;
  border-style: solid;
  border-width: 0 1px;
  font-size: inherit;
  margin: 0;
  padding-top: .3em;
  text-align: center;
  width: 3em;
}
.input-number__button {
  background: var(--c-secondary-bg);
  border: 0 none;
  border-radius: 0;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 2em;
}
.input-number__icon {
  height: 0.667em;
}

/*=== input checkbox with svg icons */
.input-checkbox__icon {
  height: 1em;
  width: 1em;
}
.input-checkbox__check {
  display: none;
}
.input-checkbox__icon__checked {
  display: none;
}
.input-checkbox__check:checked + .input-checkbox__label .input-checkbox__icon__checked {
  display: block;
}

/*=== add form */
.add-form input[type=date]::-webkit-inner-spin-button {
  display: none;
}
.add-form {
  display: none;
}
.add-form--selected {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.add-form__date {
  background: transparent;
  border: 1px solid var(--c-main-text);
  border-radius: var(--border-radius);
  font-size: 1rem;
  margin: .5rem 0;
  padding: .5rem 1rem;
  text-align: center;
  width: 100%;
}
.add-form__button {
  background: var(--c-secondary-bg);
  border: 1px solid var(--c-main-text);
  border-radius: var(--border-radius);
  font-size: 1rem;
  margin: 0 0 .5rem;
  padding: .5rem 1rem;
  width: 100%;
}
@media (min-width:300px) {
  .add-form__button {
    width: 49%;
  }
}

/*=== nav */
.main-nav {
  background: var(--c-theme-first);
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.main-nav__list {
  align-items: stretch;
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}
.main-nav__item {
  flex: 1;
  height: 100%;
  list-style: none;
}
.main-nav__link {
  color: var(--c-theme-second);
  display: block;
  font-size: .8em;
  height: 100%;
  padding-top: 0.5em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}
.main-nav__link:hover, .main-nav__link:focus {
  text-shadow: 1px 1px 10px rgba(255, 255, 255, 1);
}
.main-nav__link--selected {
  background: var(--c-theme-second);
  color: var(--c-theme-first);
  text-shadow: none;
}
.main-nav__icon {
  height: 1.25em;
  margin: 0 auto .25em;
  stroke: rgba(0, 0, 0, .2);
}

/*=== home */
.home__wrapper {
  text-align: center;
}
.home__calc {
  font-size: .9rem;
  margin-bottom: 1rem;
}
.home__calc--invisible {
  visibility: hidden;
}
.home__next,
.home__countdown,
.home__counter {
  font-size: 1.33em;
  font-weight: bold;
}
.home__countdown,
.home__counter {
  font-size: 1.67em;
}
.home__add {
  background: var(--c-theme-second);
  border: 1px solid rgba(0, 0, 0, .25);
  border-radius: var(--border-radius);
  color: var(--c-theme-first);
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 auto;
  padding: .47em .67em;
  width: 100%;
}
.home__add__tap {
  display: block;
  font-size: .6em;
  margin-top: .34em;
}

/*=== calendar */
.calendar {
  background: var(--c-secondary-bg);
  border-spacing: 1px;
  text-align: center;
  width: 100%;
}
.calendar__nav {
  display: block;
}
.calendar__nav:hover, .calendar__nav:focus {
  color: var(--c-theme-second);
}
.calendar__nav__icon {
  height: 2em;
}
.calendar__weekday {
  font-size: .7em;
  font-weight: normal;
}
.calendar__day {
  background: var(--c-main-bg);
  font-size: .9em;
  font-weight: bold;
  padding: .7em .3em .6em;
  position: relative;
  width: 14.3%; /* 100 / 7 */
}
.calendar__day:before {
  color: var(--c-secondary-text);
  content: attr(data-counter);
  font-size: .7em;
  font-weight: normal;
  left: 2px;
  position: absolute;
  top: 0;
}
.calendar__day--another-month {
  color: var(--c-secondary-text);
  font-weight: normal;
}
.calendar__day--selected {
  background: var(--c-theme-second);
}
.calendar__day--selected.calendar__day--future {
  background: var(--c-main-bg);
  background-image: linear-gradient(45deg, transparent 50%, var(--c-theme-second) 0);
}

/*=== log */
.log-list {
  border-collapse: collapse;
  width: 100%;
}
.log-list__item--selected {
  background: #F00;
}
.log-list__info {
  border-bottom: 1px solid var(--c-secondary-bg);
  padding: .6em .5em .5em;
}
.log-list__info--interval {
  padding-right: 1em;
  text-align: right;
  width: 2em;
}
.log-list__info--edit,
.log-list__info--remove {
  padding: 0;
  width: 2.5em;
}
.log-list__info--edit {
  display: none; // temporarily
}
.log-list__button {
  background: transparent;
  border: 0 none;
  color: var(--c-secondary-text);
  display: block;
  font-size: inherit;
}
.log-list__button__icon {
  height: 1em;
}
.log-average {
  background: var(--c-secondary-bg);
  font-size: .8rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}
.log-average__counter {
  display: block;
  font-size: 3.75em;
  line-height: 1;
  padding-bottom: .1em;
}

/*=== settings */
.settings__option {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 .3em;
  padding: .5em 0 .5em 1px;
  text-align: left;
  width: 100%;
}
.settings__button {
  background: var(--c-secondary-bg);
  border: 1px solid var(--c-main-text);
  border-radius: var(--border-radius);
  font-size: 1rem;
  padding-left: 1em;
  padding-right: 1em;
}
.settings__info {
  border-top: 1px solid var(--c-secondary-bg);
  margin: 2em 0 0;
  padding: 1em 0 0;
}

/*=== alert */
.alerts-wrapper {
  bottom: 3rem;
  left: .5rem;
  position: fixed;
  width: calc(100% - 1rem);
}
.alert {
  align-items: center;
  border: 1px solid rgba(0, 0, 0, .25);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
  padding: .25em .5em;
  width: 100%;
}
.alert--info {
  background: #d9edf7;
  color: #31708f;
}
.alert--error {
  background: #f2dede;
  color: #a94442;
}
.alert--success {
  background: #dff0d8;
  color: #3c763d;
}
.alert--warning {
  background: #fcf8e3;
  color: #8a6d3b;
}
.alert__close {
  background: transparent;
  border: 0 none;
  color: inherit;
  height: 2rem;
  margin-left: .5rem;
  padding: 0;
}
.alert__close__icon {
  height: 2rem;
  width: 2rem;
}